.business-rates-modal {
  width: 270px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;

  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f3f4f8 59px, #ffffff 59px);
}

.business-rates-modal__title {
  margin-bottom: 29px;
}

.business-rates-modal__close-button {
  width: 220px;
  padding: 0;

  font-family: $main-font, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: $color-1-4;

  background-color: transparent;
  border: none;
}
