.button-one {
  display: inline-block;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: $main-font, "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  color: $color-1-1;

  background-color: $color-2-1;
  border-radius: 25px;

  &:hover {
    background-color: $color-2-2;
  }
}

