.catalog-main {
  background-color: $grey-1;
}

.catalog-main__title-inner {
  position: relative;
  z-index: 1;

  background-color: $blue-1;
}

@media (max-width: $mobile-width-only) {
  .catalog-main {
    padding-bottom: 77px;
  }

  .catalog-main__title-inner {
    border-bottom-right-radius: $radius-2;
    border-bottom-left-radius: $radius-2;
  }

  .catalog-main__title {
    width: $mobile-width;
    margin: 0 auto;
  }

  .catalog-main__find-travelmate {
    margin-top: 24px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog-main {
    padding-bottom: $radius-5;
  }

  .catalog-main__title-inner {
    border-bottom-right-radius: $radius-5;
    border-bottom-left-radius: $radius-5;
  }

  .catalog-main__title {
    width: $tablet-width;
    margin: 0 auto;
  }

  .catalog-main__find-travelmate {
    margin-top: 46px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    padding-bottom: $radius-5;
  }

  .catalog-main__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .catalog-main__title-inner {
    border-bottom-right-radius: $radius-5;
    border-bottom-left-radius: $radius-5;
  }

  .catalog-main__title {
    width: $desktop-width;
    margin: 0 auto;
  }

  .catalog-main__travelmates-filtered {
    margin-top: 77px;
  }

  .catalog-main__find-travelmate {
    order: 1;
    margin-top: 77px;
  }
}