.contacts {
  @include font-name;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  text-transform: uppercase;
  color: $blue-2;

  list-style: none;
}

.contacts__button {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 60px;

  font: inherit;
  text-decoration: none;
  color: inherit;

  //круглый фон
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    background-color: $blue-3;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;

    &:hover {
      background-color: $yellow-3;
    }
  }

  //картинки в круглом фоне
  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--tel::after {
    background-image: url("../../img/contacts-phone-yellow.svg");
    background-size: 18px 18px;
  }

  &--email::after {
    background-image: url("../../img/contacts-mail-yellow.svg");
    background-size: 18px 13px;
  }

  &--address::after {
    background-image: url("../../img/contacts-location-yellow.svg");
    background-size: 14px 22px;
  }

  // &--address--mobile::before {
  //   top: 10px;
  // }
}

@media (max-width: $mobile-width-only) {
  .contacts__button {
    &--tel-intro {
      padding-left: 40px;

      &::before {
        background-color: $yellow-3;
      }

      &::after {
        //width: 40px;
        //height: 40px;

        background-image: url("../../img/topmenu-phone-blue.svg");
        background-size: 18px 18px;
      }

      &:hover::before,
      &:focus::before,
      &:active::before {
        background-color: $yellow-6;
      }

      &:focus::after,
      &:active::after {
        opacity: 0.3;
      }
    }

    &--email-intro {
      padding-left: 40px;

      &::before {
        width: 40px;
        height: 40px;

        background-color: $yellow-2;
        background-image: url("../../img/topmenu-mail-blue.svg");
        background-size: 18px 14px;
      }
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .contacts {
    font-size: 28px;
    line-height: 1;
  }

  .contacts__button {
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 91px;

    &::before {
      width: 67px;
      height: 67px;
    }

    &--tel::before {
      background-size: 27px 27px;
    }

    &--email::before {
      background-size: 27px 19px;
    }

    &--address::before {
      background-size: 14px 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    font-size: 28px;
    line-height: 1;
  }

  .contacts__button {
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 112px;

    &::before {
      width: 90px;
      height: 90px;
    }

    &--tel::before {
      background-size: 36px 36px;
    }

    &--email::before {
      background-size: 36px 26px;
    }

    &--address::before {
      background-size: 28px 43px;
    }

    &--tel-topmenu {
      width: 50px;
      height: 50px;
      padding: 0;

      &::before {
        width: 50px;
        height: 50px;
        background-color: $yellow-3;
        background-image: url("../../img/topmenu-phone.svg");
        background-size: 18px 18px;
      }
    }

    &--email-topmenu {
      width: 50px;
      height: 50px;
      padding: 0;

      &::before {
        width: 50px;
        height: 50px;
        background-color: $yellow-2;
        background-image: url("../../img/topmenu-mail.svg");
        background-size: 18px 14px;
      }
    }

    &--margin {
      margin-right: 112px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

