.country-flags {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.country-flags__item {
  position: relative;

  padding-left: 52px;

  @include font-name;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: $blue-4;

  background-repeat: no-repeat;

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 35px;
    height: 24px;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--shri-lanka::before {
    background-image: url("../../img/flag-sri-lanka.svg");
  }

  &--thailand::before {
    background-image: url("../../img/flag-thailand.svg");
  }

  &--seychelles::before {
    background-image: url("../../img/flag-seychelles.svg");
  }

  &--belgium::before {
    background-image: url("../../img/flag-belgium.svg");
  }

  &--czech::before {
    background-image: url("../../img/flag-czech.svg");
  }

  &--usa::before {
    background-image: url("../../img/flag-usa.svg");
  }

  &--australia::before {
    background-image: url("../../img/flag-australia.svg");
  }

  &--dominican::before {
    background-image: url("../../img/flag-dominica.svg");
  }

  &--uk::before {
    background-image: url("../../img/flag-united-kingdom.svg");
  }

  &--germany::before {
    background-image: url("../../img/flag-germany.png");
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .country-flags__item {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .country-flags__item {
    margin-bottom: 18px;

    font-size: 20px;
  }
}
