.countries-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 270px;
  margin-bottom: 10px;
  padding-bottom: 24px;

  @include font-name;

  background-color: #ffffff;
  border-radius: $radius-1;

  &:last-of-type {
    background-image: linear-gradient(#ffffff 70%, $grey-1 100%);
  }
}

.countries-item__title-wrapper {
  z-index: 1;

  margin-top: -$radius-1;
  padding-top: 25px;

  background-color: #ffffff;
  border-top-left-radius: $radius-1;
  border-top-right-radius: $radius-1;
}

.countries-item__title {
  margin: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: $blue-1;
}

.countries-item__image {
  position: relative;

  order: -1;

  border-top-right-radius: $radius-1;
  border-top-left-radius: $radius-1;
}

.countries-item__text {
  margin: 0;
  margin-left: 25px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgba($grey-5, 0.3);

  opacity: 0.3;
}

.countries-item__user-amount {
  position: absolute;
  z-index: 2;
  top: 135px;
  right: 23px;

  margin: 0;
  margin-left: 25px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgba($grey-5, 0.3);

  &::before {
    content: "";

    position: absolute;
    top: 2px;
    left: -16px;

    width: 11px;
    height: 11px;

    background-image: url("../../img/user.svg");
    background-repeat: no-repeat;

    opacity: 0.1;
  }
}

@media (max-width: $mobile-width-only) {
  .countries-item__title {
    position: relative;
    z-index: 1;

    margin-top: -20px;
    padding-top: 25px;
    padding-right: 85px;
    padding-left: 25px;

    //background-image: linear-gradient(#ffffff 50%, transparent 50%);
    border-radius: $radius-1;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .countries-item {
    position: relative;

    display: block;
    width: 616px;
    min-height: 140px;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 14px;
    padding-left: 30px;

    border-radius: $radius-2;

    &:last-of-type {
      background-image: none;
    }
  }

  .countries-item__title-wrapper {
    z-index: 0;

    margin: 0;
    padding: 0;

    background-color: transparent;
    border-radius: 0;
  }

  .countries-item__title {
    font-size: 24px;
  }

  .countries-item__image {
    position: absolute;
    top: 0;
    right: 0;

    order: 0;
    width: 174px;
    height: 140px;

    border-radius: 0;
    border-top-right-radius: $radius-2;
    border-bottom-right-radius: $radius-2;
  }

  .countries-item__text {
    margin: 0;
    margin-bottom: 25px;

    font-size: 20px;
  }

  .countries-item__user-amount {
    position: relative;
    top: auto;
    right: auto;

    margin: 0;
    padding-left: 31px;

    font-size: 20px;

    &::before {
      content: "";

      position: absolute;
      top: -3px;
      left: 0;

      width: 21px;
      height: 20px;

      background-image: url("../../img/user.svg");
      background-repeat: no-repeat;

      opacity: 0.1;
    }
  }
}

@media (min-width: $desktop-width) {
  .countries-item {
    position: relative;

    display: block;
    width: 560px;
    min-height: 140px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 30px;

    border-radius: $radius-2;

    &:last-of-type {
      background-image: linear-gradient(#ffffff 50%, $grey-1 80%);
    }
  }

  .countries-item__title-wrapper {
    z-index: 0;

    margin: 0;
    padding: 0;

    background-color: transparent;
    border-radius: 0;
  }

  .countries-item__title {
    font-size: 24px;
  }

  .countries-item__image {
    position: absolute;
    top: 0;
    right: 0;

    order: 0;
    width: 186px;
    height: 140px;

    border-radius: 0;
    border-top-right-radius: $radius-2;
    border-bottom-right-radius: $radius-2;
  }

  .countries-item__text {
    margin: 0;
    margin-bottom: 25px;

    font-size: 20px;
  }

  .countries-item__user-amount {
    position: relative;
    top: auto;
    right: auto;

    margin: 0;
    padding-left: 31px;

    font-size: 20px;

    &::before {
      content: "";

      position: absolute;
      top: -3px;
      left: 0;

      width: 21px;
      height: 20px;

      background-image: url("../../img/user.svg");
      background-repeat: no-repeat;

      opacity: 0.1;
    }
  }
}
