.countries-item {
  width: 270px;

  @include font-name;
}

.countries-item__title {
  margin: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: $blue-1;
}

.countries-item__image {

}

.countries-item__text {
  margin: 0;

  opacity: 0.3;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgba($grey-5, 0.3);
}

.countries-item__user-amount {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: rgba($grey-5, 0.3);
}
