.header__toggle {
  padding: 0;

  background-color: transparent;
  border: none;
}

@media (max-width: $mobile-width-only) {
  .header {
    background-color: $blue-1;
  }

  .header__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 73px;
  }

  .header__toggle-icon {
    path {
      fill: #ffffff;
    }
  }

  .header__login-button {
    display: none;
  }

  .header__menu {
    top: -73px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .header {
    background-color: $blue-1;
  }

  .header__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 132px;
  }

  .header__logo {
    width: 166px;
    height: 42px;

    background-image: url("../../img/logo-tablet-white@1x.png");
  }

  .header__toggle-icon {
    path {
      fill: #ffffff;
    }
  }

  .header__login-button {
    width: 188px;
  }

  .header__menu {
    top: -132px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 47px;
    padding-right: 60px;
    padding-left: 60px;

    background-color: $blue-1;
  }

  .header__inner {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__toggle {
    display: none;
  }

  .header__login-button {
    display: none;
  }
}

