.index-title {
  margin: 0;

  @include font-name;
  font-weight: 700;
  line-height: 1;

  color: $yellow-3;
}

@media (max-width: $mobile-width-only) {
  .index-title {
    font-size: 24px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .index-title {
    font-size: 45px;
  }
}

@media (min-width: $desktop-width) {
  .index-title {
    font-size: 45px;
  }
}
