.inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: $mobile-width-only) {
  .inner {
    flex-direction: column;
    align-items: center;
    width: $mobile-width;
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .inner {
    flex-direction: column;
    align-items: center;
    width: $tablet-width;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .inner {
    flex-direction: column;
    width: $desktop-width;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }
}
