.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  margin: 0 auto;

  &--find-travelmate {
    background-color: $yellow-1;
    border-radius: $radius-2;
  }

  &--travelmates-filtered {
  }
<<<<<<< HEAD
}

@media (min-width: $desktop-width) {
  .inner {
    flex-direction: row;
    flex-wrap: wrap;
    width: $desktop-width;
  }
=======
>>>>>>> a8ebedf558042914048e3f8f3de3d5b981c87d58
}
