.menu {
  position: relative;
  top: 0;

  background-color: #ffffff;

  &--no-js {
    .menu__close-button {
      display: none;
    }
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.menu__inner {
  position: relative;
}

.menu__list {
  margin: 0;
  padding: 0;

  @include font-name;
  font-weight: 500;
  text-transform: uppercase;
  color: $blue-2;

  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__close-button {
  position: absolute;

  background-color: transparent;
  background-image: url("../../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
}

@media (max-width: $mobile-width-only) {
  .menu {
    padding-top: 27px;
    padding-bottom: 40px;
  }

  .menu__logo {
    align-self: flex-start;
    margin-bottom: 79px;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px;
  }

  .menu__link {
    font-size: 30px;
    line-height: 1.2;
  }

  .menu__login-button {
    width: 100%;
    margin-bottom: 51px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu__contacts {
    align-self: flex-start;
    margin-bottom: 42px;
  }

  .menu__close-button {
    top: 0;
    right: 25px;

    width: 19px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .menu {
    padding-top: 40px;
    padding-bottom: 84px;
  }

  .menu__inner {
    align-items: flex-start;
  }

  .menu__logo {
    width: 166px;
    height: 42px;
    margin-bottom: 105px;

    background-image: url("../../img/logo-tablet-white@1x.png");
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 150px;
    margin-left: 59px;
  }

  .menu__link {
    font-size: 60px;
    line-height: 1.18;
  }

  .menu__login-button {
    position: absolute;
    top: 0;
    right: 40px;

    width: 188px;
  }

  .menu__contacts {
    align-self: flex-start;
    margin-bottom: 123px;
    margin-left: 59px;
  }

  .menu__socials {
    margin-left: 59px;
  }

  .menu__close-button {
    top: 21px;
    left: 385px;

    width: 19px;
    height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    display: flex;
    flex-grow: 1;
    align-items: center;

    background-color: $blue-1;
  }

  .menu__inner {
    align-items: center;
  }

  .menu__logo {
    position: relative;

    width: 200px;
    height: 52px;
    margin-right: 145px;

    background-image: url("../../img/logo-tablet-white@1x.png");
    background-repeat: no-repeat;

    &::before {
      content: "";

      position: absolute;
      top: 21px;
      right: -75px;

      width: 60px;
      height: 2px;

      background-color: #ffffff;
    }
  }

  .menu__list {
    display: flex;

    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }

  .menu__item {
    margin-right: 36px;
  }

  .menu__socials {
    display: none;
  }

  .menu__close-button {
    display: none;
  }

  .menu__login-button {
    order: 1;
    width: 188px;
  }

  .menu__contacts {
    display: flex;
    margin-left: auto;

    font-size: 0;
  }
}
