.menu {
  background-color: #ffffff;
}

.menu__list {
  margin: 0;
  padding: 0;

  @include font-name;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: $blue-2;

  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__toggle {
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .menu {
    display: flex;
    flex-grow: 1;
    align-items: center;

    background-color: transparent;
  }

  .menu__toggle {
    display: none;
  }

  .menu__list {
    display: flex;

    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }

  .menu__socials {
    display: none;
  }

  .menu__close-button {
    display: none;
  }

  .menu__login-button {
    order: 1;
    width: 189px;
  }

  .menu__contacts {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: auto;

    font-size: 0;
  }

  .menu__item {
    margin-right: 36px;
  }
}
