.menu {
  background-color: #ffffff;
}

.menu__list {
  margin: 0;
  padding: 0;

  @include font-name;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: $blue-2;

  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}
