.page-main-heading {
  margin: 0;

  @include font-name;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #ffffff;

  background-color: $blue-1;
  border-bottom-right-radius: $radius-3;
  border-bottom-left-radius: $radius-3;
}
