.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 177px;

  font-family: $main-font, "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: $greyish-brown;

  list-style: none;
}

.tags-list__item {
  padding-right: 3px;

  &:last-child {
    padding-right: 0;
  }
}
