.tags__text-input {
  padding: 0;

  @include font-name;
  font-weight: 400;
  color: rgba($grey-5, 0.6);

  background-color: transparent;
  border: none;
  resize: none;

  &::placeholder {
    color: $grey-5;
  }
}

@media (max-width: $mobile-width-only) {
  .tags__text-input {
    width: 100%;

    font-size: 16px;
    line-height: 1.38;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .tags__text-input {
    width: 100%;

    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .tags__text-input {
    width: 100%;

    font-size: 20px;
    line-height: 1.2;
  }
}
