.travelmates {
  @include font-name;

  background-color: $blue-2;
  border-bottom-right-radius: $radius-3;
  border-bottom-left-radius: $radius-3;
}

.travelmates__text {
  width: 220px;
}

.travelmates__list {
  width: 270px;
  margin: 0;
  padding: 0;

  list-style: none;
}
