.user-plans {
  @include font-name;
  font-weight: 700;
  line-height: 1;
  color: $blue-4;

  background-color: $grey-3;
}

.user-plans__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-plans__item {
  background-color: #ffffff;
  border-radius: $radius-1;
}

.user-plans__title {
  align-self: flex-start;
  margin: 0;
}

.user-plans__item-title {
  margin: 0;

  font-size: 16px;
}

.user-plans__info {
  margin: 0;

  font-weight: 500;
  text-transform: uppercase;
}

.user-plans__button {
  font-weight: 500;
  line-height: 1.29;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(#000000, 0.3);
}

@media (max-width: $mobile-width-only) {
  .user-plans {
    margin-top: -$radius-4;
    padding-top: 29px;
    padding-bottom: 30px + $radius-4;

    border-top-right-radius: $radius-4;
    border-top-left-radius: $radius-4;
  }

  .user-plans__title {
    margin-bottom: 34px;

    font-size: 24px;
  }

  .user-plans__item {
    width: 270px;
    margin-bottom: 10px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
  }

  .user-plans__item-title {
    margin-bottom: 21px;

    font-size: 16px;
  }

  .user-plans__info {
    margin-bottom: 7px;

    font-size: 14px;

    &--date {
      display: block;
      margin-bottom: 27px;
    }
  }

  .user-plans__button {
    display: block;

    font-size: 14px;
    letter-spacing: 1.4px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .user-plans {
    margin-top: -$radius-4;
    padding-top: 58px;
    padding-bottom: 74px + $radius-4;

    border-top-right-radius: $radius-4;
    border-top-left-radius: $radius-4;
  }

  .user-plans__inner {
    padding-left: 75px;
    padding-right: 75px;
  }

  .user-plans__title {
    align-self: flex-start;
    margin-bottom: 56px;

    font-size: 36px;
    line-height: 1.39;
  }

  .user-plans__item {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    width: 618px;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 19px;
    padding-left: 37px;
  }

  .user-plans__item-title {
    width: 100%;
    margin-bottom: 54px;

    font-size: 24px;
    line-height: 2.08;

    &--number {
      position: absolute;

      right: 32px;
    }
  }

  .user-plans__info {
    width: 177px;

    font-size: 20px;
  }

  .user-plans__button {
    display: block;
    margin-left: auto;

    font-size: 20px;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .user-plans {
    margin-top: -$radius-5;
    padding-top: 57px;
    padding-bottom: 63px + $radius-5;

    border-top-right-radius: $radius-5;
    border-top-left-radius: $radius-5;
  }

  .user-plans__inner {
    flex-direction: column;
    align-items: center;
  }

  .user-plans__title {
    margin-bottom: 56px;
    margin-left: 33px;

    font-size: 36px;
    line-height: 1.39;
  }

  .user-plans__item {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1256px;
    margin-bottom: 15px;
    padding-top: 37px;
    padding-right: 42px;
    padding-bottom: 37px;
    padding-left: 42px;
  }

  .user-plans__item-title {
    width: 583px;

    font-size: 24px;
    line-height: 2.08;

    &--number {
      margin-right: 40px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .user-plans__info {
    width: 177px;

    font-size: 20px;
  }

  .user-plans__button {
    display: block;
    margin-left: auto;

    font-size: 20px;
    letter-spacing: 2px;
  }
}
